version: '3.2'

services:

  domainController:
    image: jboss/wildfly:23.0.1.Final
    command: bash -c "/opt/jboss/wildfly/bin/add-user.sh admin admin --silent && /opt/jboss/wildfly/bin/domain.sh -b 0.0.0.0 -bmanagement 0.0.0.0"
    user: root
    volumes:
            - ./configuration/domain.xml:/opt/jboss/wildfly/domain/configuration/domain.xml:Z
            - ./configuration/host-master.xml:/opt/jboss/wildfly/domain/configuration/host.xml:Z
    ports:
      - "9990:9990"
      - "9999:9999"
    environment:
      FOO: bar

  hostController_1:
    depends_on:
      - domainController
    image: jboss/wildfly:23.0.1.Final
    user: root
    command: bash -c "/opt/jboss/wildfly/bin/add-user.sh admin admin --silent && /opt/jboss/wildfly/bin/domain.sh -b 0.0.0.0 -bmanagement 0.0.0.0 -Djboss.domain.master.address=domainController"
    volumes:
            - ./configuration/domain.xml:/opt/jboss/wildfly/domain/configuration/domain.xml:Z
            - ./configuration/host-slave-1.xml:/opt/jboss/wildfly/domain/configuration/host.xml:Z
    ports:
      - "19990:19990"
      - "8180:8180"
      - "8280:8280"
    environment:
      FOO: bar

  hostController_2:
    depends_on:
      - domainController
    image: jboss/wildfly:23.0.1.Final
    user: root
    command: bash -c "/opt/jboss/wildfly/bin/add-user.sh admin admin --silent && /opt/jboss/wildfly/bin/domain.sh -b 0.0.0.0 -bmanagement 0.0.0.0 -Djboss.domain.master.address=domainController"
    volumes:
            - ./configuration/domain.xml:/opt/jboss/wildfly/domain/configuration/domain.xml:Z
            - ./configuration/host-slave-2.xml:/opt/jboss/wildfly/domain/configuration/host.xml:Z
    ports:
      - "29990:29990"
      - "8380:8380"
      - "8580:8580"
      - "8480:8480"
    environment:
      FOO: bar

